@font-face {
   font-family: 'Kids Zone';
   font-display: swap;
   src: url('file:///C:/Users/Devan/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-31_223327/fonts/Kids%20Zone/font.ttf');
}
